<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  <link rel="stylesheet" href="/css/franklin.css">
  <link rel="stylesheet" href="/css/basic.css">
  <link rel="stylesheet" href="/css/julialangja.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@JuliaLangJA">
  <meta name="twitter:title" content="JuliaLangJA">
  <meta name="twitter:description" content="JuliaLangJa はプログラマー同士の交流を目的とした Julia 言語に関する日本語コミュニティです。">
  <meta name="twitter:image" content="https://julialangja.github.io/assets/julialangja-biglogo.png">
  
  <!-- Open Graph -->
  <meta property="og:title" content="JuliaLangJA">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://julialangja.github.io/">
  <meta property="og:image" content="https://julialangja.github.io/assets/julialangja-biglogo.png">
  <meta property="og:description" content="JuliaLangJa はプログラマー同士の交流を目的とした Julia 言語に関する日本語コミュニティです。">
  <meta property="og:site_name" content="JuliaLangJA">
  <meta property="og:locale" content="ja_JP">
  
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>
  {{ispage index}}{{insert title.html}}{{end}}

<!-- Content appended here -->
